<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img width="100%" height="auto" src="../../../assets/images/expo-map/map.jpg" alt="expo південний" usemap="#expo-map">

        <map name="expo-map">
          <area style="cursor: copy" alt="" title="" href="#" shape="poly" coords="737,689,737,769,871,771,868,689" />
          <!--<area alt="" title="" href="#" shape="poly" coords="812,798,812,906,884,903,881,798" />-->
          <!--<area alt="" title="" href="#" shape="poly" coords="1545,817,1545,919,1674,919,1673,820" />-->
          <!--<area alt="" title="" href="#" shape="poly" coords="1555,780,1556,812,1691,811,1689,786,1688,780" />-->
          <!--<area alt="" title="" href="#" shape="poly" coords="1152,450,1150,519,1302,516,1302,450" />-->
          <!--<area alt="" title="" href="#" shape="poly" coords="1549,238,1550,396,1674,390,1673,239" />-->
          <!--<area alt="" title="" href="#" shape="poly" coords="729,603,728,683,873,681,875,603" />-->
          <!--<area alt="" title="" href="#" shape="poly" coords="1544,945,1546,1009,1678,1007,1681,937" />-->
          <!--<area alt="" title="" href="#" shape="poly" coords="1544,819,1547,920,1677,920,1679,816" />-->
          <!--<area alt="" title="" href="#" shape="poly" coords="1243,234,1245,389,1501,391,1496,231" />-->
          <!--<area alt="" title="" href="#" shape="poly" coords="877,694,877,763,972,764,975,694" />-->
        </map>



        <!--
        <img src="url/to/your/image.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="" title="" href="#" shape="poly" coords="737,689,737,769,871,771,868,689" />
    <area alt="" title="" href="#" shape="poly" coords="812,798,812,906,884,903,881,798" />
    <area alt="" title="" href="#" shape="poly" coords="1545,817,1545,919,1674,919,1673,820" />
    <area alt="" title="" href="#" shape="poly" coords="1555,780,1556,812,1691,811,1689,786,1688,780" />
    <area alt="" title="" href="#" shape="poly" coords="1152,450,1150,519,1302,516,1302,450" />
    <area alt="" title="" href="#" shape="poly" coords="1549,238,1550,396,1674,390,1673,239" />
    <area alt="" title="" href="#" shape="poly" coords="729,603,728,683,873,681,875,603" />
    <area alt="" title="" href="#" shape="poly" coords="1544,945,1546,1009,1678,1007,1681,937" />
    <area alt="" title="" href="#" shape="poly" coords="1544,819,1547,920,1677,920,1679,816" />
    <area alt="" title="" href="#" shape="poly" coords="1243,234,1245,389,1501,391,1496,231" />
    <area alt="" title="" href="#" shape="poly" coords="877,694,877,763,972,764,975,694" />

</map>
        -->


      </div>
    </div>
  </div>
</section>