<section class="presenter-info">
  <div class="modal-header">
    <button type="button" class="close" ng-click="vm.close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{ vm.info.firstName + ' ' + vm.info.lastName }}</h4>
  </div>
  <div class="modal-body">
    <img class="avatar" ng-src="{{ vm.info.avatar }}" alt="{{ vm.info.firstName + ' ' + vm.info.lastName }}">
    <h6>{{ vm.info.employment }}</h6>
    <div class="social-links">
      <div class="social">
        <a ng-href="{{ s.link }}" ng-show="s.link" target="_blank" class="fa la-lg" ng-repeat="s in vm.info.socialLinks" ng-class="s.icon"></a>
      </div>
    </div>
    <p>{{ vm.info.description }}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.close()">OK</button>
  </div>
</section>
