#convention {
  .social {
    a {
      color: #66cc99;
    }
  }
}

#convention {
  background: #f6f6f6;

  .media {
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: 300;
    color: #999999;
    cursor: default;
    transition: all 0.5s ease-in-out;
    text-align: center;

    &:hover {
      border-radius: 10px;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    }

    &:hover h3 {
      color: #66cc99;
    }

    h3 {
      font-size: 15px;
    }

    p {
      padding: 0;
      font-size: 12px;
    }
    .social {
      text-align: center;
      a {
        padding: 0 5px;
      }
    }
  }

  .left-order {
    .avatar-order {
      order: 1;
    }
    .media-body {
      order: 2;

    }
  }

  .right-order {
    .avatar-order {
      order: 2;
    }
    .media-body {
      order: 1;
    }
  }

  .avatar {
    display: flex !important;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    line-height: 115px;
    text-align: center;
    justify-content: space-around;
    transition: all 0.25s ease-in-out;
    border: 3px solid #66cc99;
    -webkit-box-ordinal-group: 0;
  }

}