<section id="partners" class="shadow partners partners-bg-img">
  <div class="container">
    <div class="section-heading inverse scrollpoint sp-effect3">
      <h1>Партнери</h1>
      <div class="divider"></div>
    </div>
  </div>
  <div class="container">
    <div class="partners-logos scrollpoint sp-effect3">
      <a href="http://www.olimp-strong.com.ua" target="_blank">
        <img class="logo" src="../../../assets/images/partners/olimp.png" alt="Olimp">
      </a>
      <a href="http://fitnessolution.com.ua" target="_blank">
        <img class="logo" src="../../../assets/images/partners/fitness_solution.png" alt="Fitness Solution">
      </a>

      <a href="http://www.morshinska.ua/" target="_blank">
        <img class="logo-long" src="../../../assets/images/partners/morshinska.png" alt="http://www.morshinska.ua/">
      </a>

      <a href="http://trystyhii.com.ua/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/try_styhiy.png" alt="">
      </a>
      <a href="http://blackroll.com.ua/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/blackroll.png" alt="blackroll.com.ua">
      </a>
      <a href="http://strongman.org.ua/language/uk/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/fsu.png" alt="ФСУ">
      </a>
      <a href="http://interatletika.com" target="_blank">
        <img class="logo" src="../../../assets/images/partners/inter.png" alt="inter atletika">
      </a>
      <a href="http://lux.fm/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/radio_luks.png" alt="inter atletika">
      </a>
      <a href="http://www.lviv.tv/k" target="_blank">
        <img class="logo" src="../../../assets/images/partners/trk_lviv.png" alt="inter atletika">
      </a>
      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/partners/web_elovution.png" alt="inter atletika">
      </a>
      <a href="http://24tv.ua/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/24_kanal.png" alt="inter atletika">
      </a>
      <a href="http://www.nta.ua/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/telekanal_nta.jpg" alt="inter atletika">
      </a>
      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/partners/skvosh.png" alt="">
      </a>
      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/partners/ldufc.png" alt="">
      </a>
      <a href="http://vitasana-lviv.wix.com/vitasana" target="_blank">
        <img class="logo" src="../../../assets/images/partners/vs_fitness_centre.png"
             alt="http://vitasana-lviv.wix.com/vitasana">
      </a>
      <a href="http://pink.ua/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/pink.png"
             alt="http://pink.ua/">
      </a>
      <a href="http://www.ukrfit.com.ua/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/fitness_association.jpg"
             alt="http://www.ukrfit.com.ua/">
      </a>

      <a href="http://intershopdelavie.com/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/swiss.jpg"
             alt="">
      </a>

      <a href="http://www.powerpro.in.ua/" target="_blank">
        <img class="logo-long" src="../../../assets/images/partners/power.png"
             alt="">
      </a>
      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/partners/expo.png"
             alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/partners/expo.jpg"
             alt="">
      </a>

      <a href="http://amcenters.com/" target="_blank">
        <img class="logo-long" src="../../../assets/images/partners/american.png"
             alt="American Medical Centers">
      </a>
      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/partners/twins.png"
             alt="">
      </a>
      <a href="https://dnister-hotel.phnr.com/rooms/list" target="_blank">
        <img class="logo" src="../../../assets/images/partners/prime.png"
             alt="https://dnister-hotel.phnr.com">
      </a>

      <a href="http://guculy.com.ua/" target="_blank">
        <img class="logo-long" src="../../../assets/images/partners/gusul_dvir.jpg"
             alt="http://guculy.com.ua/">
      </a>
      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/partners/sinegull.png" alt="">
      </a>
    </div>
  </div>
  <!--<button type="button" class="btn btn-primary btn-lg action-btn">EXPO</button>-->
  <!--<button type="button" class="btn btn-primary btn-lg action-btn">PARTNERS</button>-->
</section>
<div class="shadow partners">
  <div class="container">
    <div class="section-heading inverse scrollpoint sp-effect3">
      <h1>EXPO</h1>
      <div class="divider"></div>
    </div>
  </div>
  <div class="container ">
    <div class="partners-logos">

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/live-up.png" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/oriflame.png" alt="">
      </a>
      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/lunar.JPG" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/media-sport.jpg" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/NUTREND-CMYK.jpg" alt="">
      </a>


      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/branovska.svg" alt=" ">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/military.png" alt=" ">
      </a>
      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/polestar.png" alt=" ">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/sammit.png" alt=" ">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/academy-fitness.svg" alt=" ">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/alyns.png" alt=" ">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/atm.png" alt=" ">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/master-academy.jpg" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/brokolly.png" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/gerasport.jpg" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/kivi-fitness.png" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/layer1000.png" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/liga.png" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/uft.png" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/trec.jpg" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/torohtiy.png" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/swiss.png" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/spers.png" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/sky-jumping.png" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/rock-tape.png" alt="">
      </a>

      <a href="" target="_blank">
        <img class="logo" src="../../../assets/images/expo-img/rexaflex.jpg" alt="">
      </a>

    </div>
  </div>
</div>
