<section id="partners" class="shadow">
  <div class="container">
    <div class="section-heading inverse scrollpoint sp-effect3">
      <!--<div class="section-heading inverse" animate>-->
      <h1>Партнери</h1>
      <div class="divider"></div>
      <!--<p>Read What's The People Are Saying About Us</p>-->
    </div>
  </div>
  <!-- todo: move partners in to ng-repeat -->
  <div class="partners-logos scrollpoint sp-effect3">
    <a href="" target="_blank">
      <img class="logo" src="../../../assets/images/partners/ak.png" alt="">
    </a>
    <a href="http://graciask.wix.com/gratia" target="_blank">
      <img class="logo" src="../../../assets/images/partners/graziya.png" alt="">
    </a>
    <a href="" target="_blank">
      <img class="logo" src="../../../assets/images/partners/olimp.png" alt="">
    </a>
    <a href="" target="_blank">
      <img class="logo" src="../../../assets/images/partners/olimpic.png" alt="">
    </a>
    <a href="" target="_blank">
      <img class="logo" src="../../../assets/images/partners/try_styhiy.png" alt="">
    </a>
    <a href="http://blackroll.com.ua/" target="_blank">
      <img class="logo" src="../../../assets/images/partners/blackroll.png" alt="blackroll.com.ua">
    </a>
    <a href="http://vitasana-lviv.wix.com/vitasana" target="_blank">
      <img class="logo" src="../../../assets/images/partners/vs_fitness_centre.png" alt="http://vitasana-lviv.wix.com/vitasana">
    </a>
    <a href="http://www.pivdennij.com/" target="_blank">
      <img class="logo" src="../../../assets/images/partners/expo.png" alt="">
    </a>
  </div>

  <!--<button type="button" class="btn btn-primary btn-lg action-btn">EXPO</button>-->
  <!--<button type="button" class="btn btn-primary btn-lg action-btn">PARTNERS</button>-->
</section>