<section id="partners" class="shadow">
  <div class="container">
    <div class="section-heading inverse scrollpoint sp-effect3">
      <h1>Партнери</h1>
      <div class="divider"></div>
    </div>
  </div>
  <div class="container">
    <div class="partners-logos scrollpoint sp-effect3">
      <a href="http://graciask.wix.com/gratia" target="_blank">
        <img class="logo" src="../../../assets/images/partners/graziya.png" alt="">
      </a>
      <a href="http://www.olimp-strong.com.ua" target="_blank">
        <img class="logo" src="../../../assets/images/partners/olimp.png" alt="Olimp">
      </a>
      <a href="http://fitnessolution.com.ua" target="_blank">
        <img class="logo" src="../../../assets/images/partners/fitness_solution.png" alt="Fitness Solution">
      </a>
      <a href="http://trystyhii.com.ua/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/try_styhiy.png" alt="">
      </a>
      <a href="http://blackroll.com.ua/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/blackroll.png" alt="blackroll.com.ua">
      </a>
      <a href="http://strongman.org.ua/language/uk/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/fsu.png" alt="ФСУ">
      </a>
      <a href="http://interatletika.com" target="_blank">
        <img class="logo" src="../../../assets/images/partners/inter.png" alt="inter atletika">
      </a>
      <a href="http://vitasana-lviv.wix.com/vitasana" target="_blank">
        <img class="logo" src="../../../assets/images/partners/vs_fitness_centre.png"
             alt="http://vitasana-lviv.wix.com/vitasana">
      </a>
      <a href="http://pink.ua/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/pink.png"
             alt="http://pink.ua/">
      </a>
      <a href="http://www.ukrfit.com.ua/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/fitness_association.jpg"
             alt="http://www.ukrfit.com.ua/">
      </a>
      <!--<a href="http://pink.ua/" target="_blank">-->
        <!--<img class="logo" src="../../../assets/images/partners/utro.png"-->
             <!--alt="http://pink.ua/">-->
      <!--</a>-->
      <a href="http://www.pivdennij.com/" target="_blank">
        <img class="logo" src="../../../assets/images/partners/expo.png" alt="">
      </a>
    </div>
  </div>
  <!--<button type="button" class="btn btn-primary btn-lg action-btn">EXPO</button>-->
  <!--<button type="button" class="btn btn-primary btn-lg action-btn">PARTNERS</button>-->
</section>