<div class="col-md-3 col-sm-3 scrollpoint sp-effect1">
  <!-- right-order -->
  <div class="media">
    <img ng-src="{{ vm.avatar }}" alt="{{ vm.firstName + ' ' + vm.lastName }}">
    <div class="media-body">
      <h3 class="media-heading">{{ vm.firstName + ' ' + vm.lastName }}</h3>
      <p>{{ vm.employment }}</p>
      <!--<div class="social">-->
        <!--<a ng-repeat="l in vm.socialLinks" ng-href="l.link" class="scrollpoint sp-effect3">-->
          <!--<i class="fa fa-twitter fa-lg"></i>-->
        <!--</a>-->
        <!--<a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>-->
        <!--<a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>-->
      <!--</div>-->
    </div>
  </div>
</div>