<div class="col-md-3 col-sm-3 scrollpoint sp-effect1">
  <!-- right-order -->

  <div class="media">
    <img src="" alt="Кравченко Олександр">
    <div class="media-body">
      <h3 class="media-heading">Кравченко Олександр</h3>
      <p>CROSSFIT</p>
      <div class="social">
        <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
        <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
      </div>
    </div>
  </div>
</div>