<section class="partnership">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


        <div class="partnership-align" direction="column">
          <h2 class="section-title fitness-font-xl text-left">Стати партнером Lviv Fitness Weekend легко!</h2>
          <!--<p class="text-left">-->
          <!--</p>-->
        </div>


      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


        <div class="partnership-align" direction="row">
          <a href class="link-download">
            <div class="btn partner-btn" ng-click="partnership.showVideo()">Стати <br> партнером</div>
          </a>
          <a class="link-download" href="Offer_LFWЕКСПО.pdf" target="_blank">
            <div class="btn partner-btn partner-expo"><span class="expo">Expo</span><br><span class="join">Участь</span>
            </div>
          </a>
        </div>


      </div>
    </div>
  </div>
</section>