<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="fa fa-bars fa-lg"></span>
      </button>
      <a class="navbar-brand" href="#top">

        <div class="brand-logo-image"> </div>

        <!--<img class="brand-logo-image" src="../../../assets/images/logos/logo-white-lg.png" alt="Lviv Fitness Weekend">-->
        <!--<img class="brand-logo-image" src="../../../assets/images/logos/logo-green-sm.png" alt="Lviv Fitness Weekend">-->
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-sm">
          <a href="#top">Головна</a>
        </li>
        <li>
          <a href="#organizers">Організатори</a>
        </li>
        <li>
          <a href="#convention">Конвенція</a>
        </li>
        <li>
          <a href="#workshops">Семінари</a>
        </li>
        <!--<li>-->
        <!--<a href="#demo">Форум</a>-->
        <!--</li>-->
        <li>
          <a href="#partners">Партнери</a>
        </li>
        <li>
          <a href="#location">Локація</a>
        </li>
        <li>
          <a href="#location">Контакти</a>
        </li>
      </ul>
    </div>
  </div>
</nav>