<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fitness Lviv</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  {% for (var css in o.htmlWebpackPlugin.files.css) { %}
  <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
  {% } %}

  {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
  <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}" defer></script>
  {% } %}
</head>
<body id="top">
<!-------------------------------------------------------------------------------------------------------------------->
<!--                                                START APP                                                       -->
<!-------------------------------------------------------------------------------------------------------------------->

<!--<div class="pre-loader">-->
<!--<div class="load-con">-->
<!--<img src="logo.png" class="animated fadeInDown" alt="">-->
<!--<div class="spinner">-->
<!--<div class="bounce1"></div>-->
<!--<div class="bounce2"></div>-->
<!--<div class="bounce3"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<header>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="fa fa-bars fa-lg"></span>
        </button>
        <a class="navbar-brand" href="#top">
          <img src="logo.png" alt="" class="logo">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#top">Головна</a>
          </li>
          <li>
            <a href="#organizers">Організатори</a>
          </li>
          <li>
            <a href="#convention">Конвенція</a>
          </li>
          <li>
            <a href="#screens">Семінари</a>
          </li>
          <li>
            <a href="#demo">Форум</a>
          </li>
          <li>
            <a href="#getApp">Партнери</a>
          </li>
          <!--<li>-->
          <!--<a class="getApp" href="#getApp">get app</a>-->
          <!--</li>-->
          <li>
            <a href="#support">Локація</a>
          </li>
          <li>
            <a href="#contacts">Контакти</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
  </nav>

  <!---------------------------------------------------------------------------------------------------------------->
  <!--              RevSlider start                                                                               -->
  <!---------------------------------------------------------------------------------------------------------------->
  <div class="tp-banner-container">
    <div class="tp-banner">
      <ul>
        <!-- SLIDE  -->
        <!--<li data-transition="fade" data-slotamount="7" data-masterspeed="1500">-->
        <!--&lt;!&ndash; MAIN IMAGE &ndash;&gt;-->
        <!--<img src="transparent.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top"-->
        <!--data-bgrepeat="no-repeat">-->
        <!--&lt;!&ndash; LAYERS &ndash;&gt;-->
        <!--&lt;!&ndash; LAYER NR. 1 &ndash;&gt;-->
        <!--<div class="tp-caption lfl fadeout hidden-xs"-->
        <!--data-x="left"-->
        <!--data-y="bottom"-->
        <!--data-hoffset="30"-->
        <!--data-voffset="0"-->
        <!--data-speed="500"-->
        <!--data-start="700"-->
        <!--data-easing="Power4.easeOut">-->
        <!--<img src="hand-freeze.png" alt="">-->
        <!--</div>-->

        <!--<div class="tp-caption lfl fadeout visible-xs"-->
        <!--data-x="left"-->
        <!--data-y="center"-->
        <!--data-hoffset="700"-->
        <!--data-voffset="0"-->
        <!--data-speed="500"-->
        <!--data-start="700"-->
        <!--data-easing="Power4.easeOut">-->
        <!--<img src="iphone-freeze.png" alt="">-->
        <!--</div>-->

        <!--<div class="tp-caption large_white_bold sft" data-x="550" data-y="center" data-hoffset="0" data-voffset="-80"-->
        <!--data-speed="500" data-start="1200" data-easing="Power4.easeOut">-->
        <!--Oleose-->
        <!--</div>-->
        <!--<div class="tp-caption large_white_light sfr" data-x="770" data-y="center" data-hoffset="0" data-voffset="-80"-->
        <!--data-speed="500" data-start="1400" data-easing="Power4.easeOut">-->
        <!--App-->
        <!--</div>-->
        <!--<div class="tp-caption large_white_light sfb" data-x="550" data-y="center" data-hoffset="0" data-voffset="0"-->
        <!--data-speed="1000" data-start="1500" data-easing="Power4.easeOut">-->
        <!--Landing Theme-->
        <!--</div>-->

        <!--<div class="tp-caption sfb hidden-xs" data-x="550" data-y="center" data-hoffset="0" data-voffset="85"-->
        <!--data-speed="1000" data-start="1700" data-easing="Power4.easeOut">-->
        <!--<a href="#about" class="btn btn-primary inverse btn-lg">LEARN MORE</a>-->
        <!--</div>-->
        <!--<div class="tp-caption sfr hidden-xs" data-x="730" data-y="center" data-hoffset="0" data-voffset="85"-->
        <!--data-speed="1500" data-start="1900" data-easing="Power4.easeOut">-->
        <!--<a href="#getApp" class="btn btn-default btn-lg">GET APP</a>-->
        <!--</div>-->

        <!--</li>-->
        <!-- SLIDE 2 -->
        <!--<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">-->
        <!--&lt;!&ndash; MAIN IMAGE &ndash;&gt;-->
        <!--<img src="transparent.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top"-->
        <!--data-bgrepeat="no-repeat">-->
        <!--&lt;!&ndash; LAYERS &ndash;&gt;-->
        <!--&lt;!&ndash; LAYER NR. 1 &ndash;&gt;-->
        <!--<div class="tp-caption lfb fadeout hidden-xs"-->
        <!--data-x="center"-->
        <!--data-y="bottom"-->
        <!--data-hoffset="0"-->
        <!--data-voffset="0"-->
        <!--data-speed="1000"-->
        <!--data-start="700"-->
        <!--data-easing="Power4.easeOut">-->
        <!--<img src="freeze-slide2.png" alt="">-->
        <!--</div>-->


        <!--<div class="tp-caption large_white_light sft" data-x="center" data-y="250" data-hoffset="0" data-voffset="0"-->
        <!--data-speed="1000" data-start="1400" data-easing="Power4.easeOut">-->
        <!--Every Pixel <i class="fa fa-heart"></i>-->
        <!--</div>-->


        <!--</li>-->

        <!-- SLIDE 3 -->
        <!--<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">-->
        <!--&lt;!&ndash; MAIN IMAGE &ndash;&gt;-->
        <!--<img src="transparent.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top"-->
        <!--data-bgrepeat="no-repeat">-->
        <!--&lt;!&ndash; LAYERS &ndash;&gt;-->
        <!--&lt;!&ndash; LAYER NR. 1 &ndash;&gt;-->
        <!--<div class="tp-caption customin customout hidden-xs"-->
        <!--data-x="right"-->
        <!--data-y="center"-->
        <!--data-hoffset="0"-->
        <!--data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"-->
        <!--data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"-->
        <!--data-voffset="50"-->
        <!--data-speed="1000"-->
        <!--data-start="700"-->
        <!--data-easing="Power4.easeOut">-->
        <!--<img src="family-freeze.png" alt="">-->
        <!--</div>-->

        <!--<div class="tp-caption customin customout visible-xs"-->
        <!--data-x="center"-->
        <!--data-y="center"-->
        <!--data-hoffset="0"-->
        <!--data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"-->
        <!--data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"-->
        <!--data-voffset="0"-->
        <!--data-speed="1000"-->
        <!--data-start="700"-->
        <!--data-easing="Power4.easeOut">-->
        <!--<img src="family-freeze.png" alt="">-->
        <!--</div>-->

        <!--<div class="tp-caption lfb visible-xs" data-x="center" data-y="center" data-hoffset="0" data-voffset="400"-->
        <!--data-speed="1000" data-start="1200" data-easing="Power4.easeOut">-->
        <!--<a href="#" class="btn btn-primary inverse btn-lg">Purchase</a>-->
        <!--</div>-->


        <!--<div class="tp-caption mediumlarge_light_white sfl hidden-xs" data-x="left" data-y="center" data-hoffset="0"-->
        <!--data-voffset="-50" data-speed="1000" data-start="1000" data-easing="Power4.easeOut">-->
        <!--Powerful Responsive-->
        <!--</div>-->
        <!--<div class="tp-caption mediumlarge_light_white sft hidden-xs" data-x="left" data-y="center" data-hoffset="0"-->
        <!--data-voffset="0" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">-->
        <!--App Landing Page-->
        <!--</div>-->
        <!--<div class="tp-caption small_light_white sfb hidden-xs" data-x="left" data-y="center" data-hoffset="0"-->
        <!--data-voffset="80" data-speed="1000" data-start="1600" data-easing="Power4.easeOut">-->
        <!--<p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. <br> Quisque pellentesque diam sed pulvinar-->
        <!--lobortis. Vestibulum ante <br>ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>-->
        <!--</div>-->

        <!--<div class="tp-caption lfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="160"-->
        <!--data-speed="1000" data-start="1800" data-easing="Power4.easeOut">-->
        <!--<a href="#" class="btn btn-primary inverse btn-lg">Purchase</a>-->
        <!--</div>-->


        <!--</li>-->

      </ul>
    </div>
  </div>
  <!---------------------------------------------------------------------------------------------------------------->
  <!--              RevSlider end                                                                                 -->
  <!---------------------------------------------------------------------------------------------------------------->

</header>


<div class="wrapper">
  <section id="organizers">
    <div class="container">
      <div class="section-heading scrollpoint sp-effect3">
        <h1>Організатори</h1>
        <div class="divider"></div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="about-item scrollpoint sp-effect2">
            <img src="sergey_putsov.png" alt="Сергій Пуцов">
            <h3>Сергій Пуцов</h3>
            <p>Головний тренер фітнес клубу «Skyfitness» (Київ).
              Кандидат наук фізичного виховання і спорту.
              Майстер спорту України з важкої атлетики.
              Співзасновник фітнес - проекту Oxygen Workout</p>
            <div class="social">
              <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
              <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
              <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="about-item scrollpoint sp-effect5">
            <img src="anna_lashchuk.png" alt="Анна Лащук">
            <h3>Анна Лащук</h3>
            <p>Директор спортивного комплексу «Грація» (Львів).
              Голова громадської організації « Здорового способу життя».
              Власниця фітнес - центру Vita Sana.
              Чемпіонка International dance competition Leader. Дипломований
              та сертифікований фітнес - тренер групових та персональних тренувань</p>
            <div class="social">
              <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
              <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
              <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="about-item scrollpoint sp-effect5">
            <img src="sergey_konyushok.png" alt="Сергій Конюшок">
            <h3>Сергій Конюшок</h3>
            <p>Керівник та співвласник мережі спортивних клубів «Олімп» (Львів).
              Майстер спорту України міжнародного класу.
              Чемпіон та рекордсмен світу зі стронгмену.
              Президент федерації стронгмену України</p>
            <div class="social">
              <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
              <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
              <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="convention">
    <div class="container-fluid">
      <div class="section-heading scrollpoint sp-effect3">
        <h1>Презентери конвенції</h1>
        <div class="divider"></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3 scrollpoint sp-effect1">

          <div class="media left-order">

            <img src="preseter_test.jpg" alt="Кравченко Олександр">
            <div class="media-body">

              <h3 class="media-heading">Кравченко Олександр</h3>
              <p>CROSSFIT</p>

              <div class="social">
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
              </div>

            </div>
          </div>

          <div class="media left-order">

            <img src="preseter_test.jpg" alt="Кравченко Олександр">
            <div class="media-body">

              <h3 class="media-heading">Кравченко Олександр</h3>
              <p>CROSSFIT</p>

              <div class="social">
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
              </div>

            </div>
          </div>

        </div>
        <div class="col-md-3 col-sm-3 scrollpoint sp-effect2">

          <div class="media right-order">

            <img src="preseter_test.jpg" alt="Кравченко Олександр">
            <div class="media-body">

              <h3 class="media-heading">Кравченко Олександр</h3>
              <p>CROSSFIT</p>

              <div class="social">
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
              </div>

            </div>

          </div>

          <div class="media right-order">

            <img src="preseter_test.jpg" alt="Кравченко Олександр">
            <div class="media-body">

              <h3 class="media-heading">Кравченко Олександр</h3>
              <p>CROSSFIT</p>

              <div class="social">
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
              </div>

            </div>

          </div>

        </div>
        <div class="col-md-3 col-sm-3 scrollpoint sp-effect1">

          <div class="media left-order">

            <img src="preseter_test.jpg" alt="Кравченко Олександр">
            <div class="media-body">

              <h3 class="media-heading">Кравченко Олександр</h3>
              <p>CROSSFIT</p>

              <div class="social">
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
              </div>

            </div>
          </div>

          <div class="media left-order">

            <img src="preseter_test.jpg" alt="Кравченко Олександр">
            <div class="media-body">

              <h3 class="media-heading">Кравченко Олександр</h3>
              <p>CROSSFIT</p>

              <div class="social">
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
              </div>

            </div>
          </div>

        </div>
        <div class="col-md-3 col-sm-3 scrollpoint sp-effect2">

          <div class="media right-order">

            <img src="preseter_test.jpg" alt="Кравченко Олександр">
            <div class="media-body">

              <h3 class="media-heading">Кравченко Олександр</h3>
              <p>CROSSFIT</p>

              <div class="social">
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
              </div>

            </div>

          </div>

          <div class="media right-order">

            <img src="preseter_test.jpg" alt="Кравченко Олександр">
            <div class="media-body">

              <h3 class="media-heading">Кравченко Олександр</h3>
              <p>CROSSFIT</p>

              <div class="social">
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="partners" style="border:  1px solid red;">
    <div class="container">
      <div class="section-heading inverse scrollpoint sp-effect3">
        <h1>Партнери</h1>
        <div class="divider"></div>
        <p>Read What's The People Are Saying About Us</p>
      </div>
    </div>
  </section>

  <section id="screens">
    <div class="container">

      <div class="section-heading scrollpoint sp-effect3">
        <h1>Screens</h1>
        <div class="divider"></div>
        <p>See what’s included in the App</p>
      </div>

      <div class="filter scrollpoint sp-effect3">
        <a href="javascript:void(0)" class="button js-filter-all active">All Screens</a>
        <a href="javascript:void(0)" class="button js-filter-one">User Access</a>
        <a href="javascript:void(0)" class="button js-filter-two">Social Network</a>
        <a href="javascript:void(0)" class="button js-filter-three">Media Players</a>
      </div>
      <div class="slider filtering scrollpoint sp-effect5">
        <div class="one">
          <img src="profile.jpg" alt="">
          <h4>Profile Page</h4>
        </div>
        <div class="two">
          <img src="menu.jpg" alt="">
          <h4>Toggel Menu</h4>
        </div>
        <div class="three">
          <img src="weather.jpg" alt="">
          <h4>Weather Forcast</h4>
        </div>
        <div class="one">
          <img src="signup.jpg" alt="">
          <h4>Sign Up</h4>
        </div>
        <div class="one">
          <img src="calendar.jpg" alt="">
          <h4>Event Calendar</h4>
        </div>
        <div class="two">
          <img src="options.jpg" alt="">
          <h4>Some Options</h4>
        </div>
        <div class="three">
          <img src="sales.jpg" alt="">
          <h4>Sales Analysis</h4>
        </div>
      </div>
    </div>
  </section>

  <section id="demo">
    <div class="container">
      <div class="section-heading scrollpoint sp-effect3">
        <h1>Demo</h1>
        <div class="divider"></div>
        <p>Take a closer look in more detail</p>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 scrollpoint sp-effect2">
          <div class="video-container">
            <iframe src="http://player.vimeo.com/video/70984663"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="getApp">
    <div class="container-fluid">
      <div class="section-heading inverse scrollpoint sp-effect3">
        <h1>Get App</h1>
        <div class="divider"></div>
        <p>Choose your native platform and get started!</p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="hanging-phone scrollpoint sp-effect2 hidden-xs">
            <img src="freeze-angled2.png" alt="">
          </div>
          <div class="platforms">
            <a href="#" class="btn btn-primary inverse scrollpoint sp-effect1">
              <i class="fa fa-android fa-3x pull-left"></i>
              <span>Download for</span><br>
              <b>Android</b>
            </a>

            <a href="#" class="btn btn-primary inverse scrollpoint sp-effect2">
              <i class="fa fa-apple fa-3x pull-left"></i>
              <span>Download for</span><br>
              <b>Apple IOS</b>
            </a>
          </div>

        </div>
      </div>


    </div>
  </section>

  <section id="support" class="doublediagonal">
    <div class="container">
      <div class="section-heading scrollpoint sp-effect3">
        <h1>Support</h1>
        <div class="divider"></div>
        <p>For more info and support, contact us!</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8 col-sm-8 scrollpoint sp-effect1">
              <form role="form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Your email">
                </div>
                <div class="form-group">
                  <textarea cols="30" rows="10" class="form-control" placeholder="Your message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </form>
            </div>
            <div class="col-md-4 col-sm-4 contact-details scrollpoint sp-effect2">
              <div class="media">
                <a class="pull-left" href="#">
                  <i class="fa fa-map-marker fa-2x"></i>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">4, Some street, California, USA</h4>
                </div>
              </div>
              <div class="media">
                <a class="pull-left" href="#">
                  <i class="fa fa-envelope fa-2x"></i>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="mailto:support@oleose.com">support@oleose.com</a>
                  </h4>
                </div>
              </div>
              <div class="media">
                <a class="pull-left" href="#">
                  <i class="fa fa-phone fa-2x"></i>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">+1 234 567890</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <a href="#" class="scrollpoint sp-effect3">
        <img src="logo.png" alt="" class="logo">
      </a>
      <div class="social">
        <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
        <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
      </div>
      <div class="rights">
        <p>Copyright &copy; 2014</p>
        <p>Redesign by Arche Galla and his awesome Cat</p>
      </div>
    </div>
  </footer>
</div>
<!-------------------------------------------------------------------------------------------------------------------->
<!--                                                END APP                                                         -->
<!-------------------------------------------------------------------------------------------------------------------->
</body>
</html>