<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fitness Lviv</title>
  <meta name="description" content="Команда професіоналів, які знають, що потрібно тренеру!">
  <meta name="keywords" content="Lviv Fitness Weekend, Львів, Спорт, Фітнес">
  <meta name="author" content="Анна Лащук">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">

  <meta property="og:url"  content="http://lviv-fitness.com"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Lviv Fitness Weekend 30.09-2.10.2016"/>
  <meta property="og:site_name" content="Lviv Fitness Weekend"/>
  <meta property="og:description" content=""/>
  <meta property="og:image" content="http://lviv-fitness.com/open_graph_logo.png"/>
  <meta property="og:image:type" content="image/png"/>
  <meta property="og:locale" content="uk_UA"/>


  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  {% for (var css in o.htmlWebpackPlugin.files.css) { %}
  <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
  {% } %}

  <!-- Facebook Conversion Code for LvivFitnessWeek -->
  <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = 'https://connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6053574884666', {'value':'0.01','currency':'RUB'}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6053574884666&cd[value]=0.01&cd[currency]=RUB&noscript=1" /></noscript>
</head>
<body id="top" ng-controller="MainCtrl as vm">
<header class="main-header">
  <nav-menu></nav-menu>
  <main-section></main-section>
</header>

<fitness-organizers></fitness-organizers>
<fitness-convention></fitness-convention>
<fitness-schedule></fitness-schedule>
<fitness-tickets></fitness-tickets>
<fitness-workshops></fitness-workshops>

<forum-workshop></forum-workshop>
<forum-presenter></forum-presenter>
<forum-schedule></forum-schedule>
<forum-tickets></forum-tickets>

<coaches-certification></coaches-certification>

<aqua-presenters></aqua-presenters>
<aqua-schedule></aqua-schedule>
<aqua-workshops></aqua-workshops>
<aqua-masters></aqua-masters>

<demo-video></demo-video>
<fitness-partners></fitness-partners>
<partnership></partnership>
<expo-map></expo-map>
<fitness-location></fitness-location>
<fitness-footer></fitness-footer>

<!-- CDN FOR FASTER LOAD -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

{% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
<script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}" defer async></script>
{% } %}

</body>
</html>