<section class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 scrollpoint sp-effect1">
        <h2 class="main-title">Lviv Fitness Weekend</h2>
        <p class="hash-tag">#lvivfitnessweekend</p>
        <!--<h2>30 Вересня - 1,2 Жовтня</h2>-->

        <p class="main-text">Фізична культура – частина загальної культури. Львів – культурна столиця України.
                          Ми вважаємо, що фізична культура також повинна на рівні бути представлена у Львові!</p>
        <p class="main-text">Ми знаємо як робити спортивні заходи! У нас глибокі знання і багаторічний досвід у сфері фітнесу!</p>
        <p class="main-text">Ми знаємо як навчати людей, аби вони були справжніми фахівцями в галузі здорового способу життя!</p>
        <p class="main-text">В нас багато друзів – справжніх професіоналів у сфері спорту та велнесу!</p>
        <p class="main-text">Ми - організатори Lviv Fitness Weekend, команда професіоналів, які знають, що потрібно тренеру!</p>
        <div class="hidden-sm hidden-xs"><br><br></div>
        <div class="row section-links text-center">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <a href="#convention" class="main-btn btn btn-primary">Конвенція</a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <a href="#workshops" class="main-btn btn btn-primary">Семінари</a>
          </div>
        </div>
        <div class="row">
          <div class="social">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                  <a class="main-social-link" href="https://www.youtube.com/channel/UCC_pPGQBC69uzt1tOrYhQkw" target="_blank"><i class="fa fa-youtube-square fa-lg"></i></a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                  <a class="main-social-link" href="https://vk.com/public99211814" target="_blank"><i class="fa fa-vk fa-lg"></i></a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                  <a class="main-social-link" href="https://www.facebook.com/groups/776830325762913" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 hidden-sm hidden-xs scrollpoint sp-effect2">
        <img class="main-image" src="../../../assets/images/main/jump.png" alt="fitness lviv weekend">
      </div>
    </div>
  </div>
</section>